.o_action_manager {
    direction: rtl;
}
.o_main_navbar {
    text-align: right;
}
.o_menu_systray {
    float: left !important;
}

.o_statusbar_button.o_statusbar_button_draft {
                    background-color: #007bff; /* اللون الأزرق */
                    color: white;
                    }